---
---

$dark: #000000;
$light: #FFFFFF;
$paledark: #313157;
$palelight: #A1A1A1;

$tonedark: #FFFFFF;
$tonemid: #0A0A0A;
$tonelight: #EEEEEE;

body {
  background: $dark;
}

.content, .navigation, .foot {
  margin-left:auto;
  margin-right:auto;
  max-width: 50em;
}

.content {
  background: $tonemid;
  color: $light;
  padding: 1em;
}

.navigation, .foot {
  background: $dark;
  color: $palelight;
  padding-left: 1em;
  padding-right: 1em;

  ul {
    list-style:none;
    padding:0;
  }

  li {
    display:inline-block;
  }

  hr {
    clear:both;
    margin: 0;
  }
}

.navigation {

  background-image: url(/assets/logo.png);
  background-repeat: no-repeat;
  background-position: right;

  ul {
    float:right;
    &:first-child {
      float:left;
      li {
        margin-right: 1em;
        &.active {
          color: $light;
        }
      }
    }
  }

  a {
    background: $dark;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $tonelight;
    }
  }

}

.foot {
  padding-top: 1em;
  padding-bottom: 0.5em;
  ul {
    font-size: 75%;
    text-align:center;
    li {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}
